body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  top: 50px;
  font-size: 5.625rem;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  line-height: 0.5;
}

h2 {
  font-size: 3.5rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 2.0rem;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  margin: 100px auto 100px auto;
  border-style: dotted none none;
  border-width: 7px;
  border-color: #EAF6F6;
  height: 2px;
  width: 5%;
}

/*****************************************class selectors****************************************/
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.bottom-container {
  padding: 30px;
  background-color: #66BFBF;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  text-shadow: 4px -4px 34px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 20px auto 20px auto;
}

.footer-link {
  color: #11999E;
  padding-right: 20px;
}

.footer-last {
  color: #EAF6F6;
}

.gif {
  width: 25%;
  float: left;
  margin: 20px;
}

.ink-img {
  margin: 20px;
  width: 25%;
  float: right;
}

.middle-container {}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
  font-weight: normal;
}

.profile-1 {
  width: 210px;
  float: none;
  margin: 50px auto 50px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
